<!DOCTYPE html>
<html>
  <head>
	<title>2nd Stage | Designer Database</title>
	<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
	<!-- <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>	
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.0.0-rc.26/dist/bootstrap-vue.common.min.js" defer></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/app.js') }}" defer></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/designer.js') }}" defer></script>
   -->
  </head>
  <body>
    <div id="app" class="container mx-auto mt-5">
    <h1 class="text-center mb-2" >2<sup>nd</sup> Stage DesignerBase</h1>
    <p class="text-center mb-4" >Find designers for shows here !</p>
	  <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form"
          aria-selected="true">Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="database-tab" data-toggle="tab" href="#database" role="tab" aria-controls="database"
          aria-selected="false">Database</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
          aria-selected="false">Contact</a>
      </li> -->
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="form" role="tabpanel" aria-labelledby="form-tab">
        <div class="typeform-widget" data-url="https://secondstage.typeform.com/to/g9rske" data-transparency="50" data-hide-headers=true data-hide-footer=true style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=g9rske&utm_source=typeform.com-11960867-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
      </div>
      <div class="tab-pane fade" id="database" role="tabpanel" aria-labelledby="database-tab">
        <div class="row">
          {% for designer in designerbase %}
          <div class="card h-100" style="width: 20rem;">
              <div class="card-body">
                <h5 class="card-title">{{ designer["first_name"] }} {{ designer["last_name"] }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Class of {{ designer["Class Year"] }}</h6>
                <p class="card-text">
                    Interested in <em>{{ designer["Design Positions"] }}</em>
                    Also interested in <em>{{ designer["Specialized Positions"] }}</em>
                </p>
                <p class="card-text">
                    Relevant Experience: <em>{{ designer["Relevant Experience"] }}</em>
                </p>
                {% if designer["Open to Assistant/Co-"] == 'True' %}
                <p class="card-text">
                  Open to Assistant or Co- Designer Positions
                </p>
                {% endif %}
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          {% endfor %}
          </div>
       </div>


      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">.</div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  </html>
